.container {
    display: flex;
    flex-flow: row;
    width: 1200px;
    height: 920px;
    margin: auto;
    
}

.logo-area{
    flex: 1;
    background-image: url(images/halie-west-bTzpau9mKT4-unsplash.jpg);
    background-size:cover;
  
}

.form-area{
    flex: 2;
    display: flex;
    flex-flow: column;
    background-color: beige;
}

.top{
    flex: 1;
}

.form-container{
    flex: 0 1 0;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.279);
}

.bottom{
    flex: 1;
}

input{
    margin: 5px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.logo{
    font-family: ;
}